:root {
    --bg-color: #222;
    --calc-bg: #333;
    --screen-bg: #ecf0f1;
    --btn-bg: #fefefe;
    --btn-operator: #f1c40f;
    --btn-red: #e74c3c;
    --btn-green: #2ecc71;
    --btn-blue: #3498db;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    width: 350px;
    background-color: var(--calc-bg);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

/* --- PANTALLA --- */
.screen {
    background-color: var(--screen-bg);
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    min-height: 30px;
    font-size: 1.2rem;
    color: #777;
}

.screen-current {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

/* --- BOTONES (GRID) --- */
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--btn-bg);
    transition: filter 0.1s;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn:active {
    transform: translateY(2px);
}

/* Estilos específicos de botones */
.btn-operator {
    background-color: var(--btn-operator);
    color: white;
}

.btn-red {
    background-color: var(--btn-red);
    color: white;
}

.btn-blue {
    background-color: var(--btn-blue);
    color: white;
}

.btn-green {
    background-color: var(--btn-green);
    color: white;
}

.span-2 {
    grid-column: span 2; /* Ocupa 2 columnas */
}

.footer {
    margin-top: 20px;
    color: white;
    font-size: 0.8rem;
}
